<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>

    <link rel="stylesheet" href="./assets/css/style.css">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==' crossorigin='anonymous' referrerpolicy='no-referrer'
    />
</head>

<body>

    <div id="app">
        <div class="container">
            <div class="logo-list">
                <img src="./img/logo.png" alt="">
            </div>
            <!-- /.logo-list -->
            <div class="form">
                <input type="text" placeholder="Nuovo Todo" v-model="inputText" @keyup.enter="addTask" required>
                <button @click="addTask">Aggiungi</button>
            </div>
            <!-- /.form -->
            <section class="tasks">
                <div class="to-do-list">
                    <h3>To do list</h3>
                    <div class="message" v-if="this.tasks.length == 0"> {{message}} </div>
                    <!-- /.message -->
                    <ul v-else>
                        <li v-for="(task, index) in tasks">
                            <input type="text" v-model="task.text">
                            <span class="icon">
                                <i class="fa-solid fa-circle-check" @click="moveTask(index, task)"></i>
                                <i class="fa-solid fa-trash" @click="deleteTask(index, task)"></i>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- /.to-do-list -->
                <div class="task-completed" v-if="this.completedTasks.length !== 0">
                    <h3>Completate</h3>
                    <ul>
                        <li v-for="(completedTask, index) in completedTasks">
                            {{completedTask.text}}
                            <span class="icon">
                                <i class="fa-solid fa-arrow-rotate-right" @click="pullUpTask(completedTask, index)"></i>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- /.task-completed -->
                <div class="task-deleted" v-if="this.deletedTasks.length !== 0">
                    <h3>
                        Cestino
                        <i class="fa-solid fa-trash-can" @click="deleteAll"></i>
                    </h3>
                    <ul>
                        <li v-for="(deletedTask, index) in deletedTasks">
                            {{deletedTask.text}}
                            <i class="fa-solid fa-arrow-rotate-right" @click="pullUpTask(deletedTask, index)" v-if=""></i>
                        </li>
                    </ul>
                </div>
                <!-- /.task-deleted -->
            </section>
            <!-- /.tasks -->
        </div>
        <!-- /.container -->


    </div>
    <!-- /#app -->



    <!-- vue link -->
    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>

    <script src="./assets/js/app.js"></script>
</body>

</html>