* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(53 76 176 / 57%);
    color: #001533;
}

img {
    max-width: 100%;
}

.container {
    max-width: 400px;
    height: 400px;
    margin: 5rem auto;
    text-align: center;
}

.logo-list {
    width: 70%;
    margin: 1rem auto;
}

.form input,
.form button {
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px #001533b4;
}

.form button {
    background-color: #00e165;
    font-weight: bolder;
    margin: 0 0.5rem;
}

.to-do-list {
    height: 100%;
    margin: 2rem 0;
    padding: 2rem;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px #00153389;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    text-transform: uppercase;
}

.to-do-list ul {
    width: 70%;
    max-height: 60%;
    margin: auto 0;
    overflow-y: scroll;
}

.to-do-list li {
    margin-right: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(53 76 176 / 57%);
    list-style-type: none;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bolder;
}

.to-do-list li:first-child {
    border-top: 2px solid rgb(53 76 176 / 57%);
}

.to-do-list i,
.to-do-list span {
    cursor: pointer;
}

.text-strikethrough {
    text-decoration: line-through;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #001533;
    border-radius: 3px;
    padding: 1rem;
}